<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Daniel A. White - {{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /> 
</head>
<body>
  <header>
    <a href="/">Daniel A. White</a>
  </header>
  <ul>
    {% for category in site.categories %}
	<li>{{ category | size }}</li>
	{% endfor %}
  </ul>
  {{ content }}
  <footer>&copy; {{ site.time | date: "%Y" }} Daniel A. White</footer>
  <script src="/js/bootstrap.min.js" />
</body>
</html>